{% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
    #center-aligned {
        display: flex; 
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    #card-header {
        display: flex; 
        align-items: center;
        flex-direction: column;
    }

    th {
        text-align: right;
    }
</style>

<div class='row'>
    <div class='col-12'>
        <div id="center-aligned" class="container d-flex">

            <div class='card'>
                <div id="card-header" class='card-header' >
                    <h5>Profile details:</h5>
                    <img src={{ object.picture.url }}>
                </div>
                <div class='card-body'>
                    <table class="table">
                        <tbody>
                            
                            {% if object.user.first_name and object.user.last_name %}
                                <tr>
                                    <th>Full Name(s)</th>
                                    <td>{{object.user.first_name}}</td>
                                </tr>
                                
                                <tr>
                                    <th>Surname</th>
                                    <td>{{object.user.last_name}}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th>Username</th>
                                    <td>{{object.user}}</td>
                                </tr>
                            {% endif %}
            
                            <tr>
                                <th>Phone Number</th>
                                <td>{{object.phone_number}}</td>
                            </tr>
                            <tr>
                                <th>Home Address</th>
                                <td>{{object.home_address}}</td>
                            </tr>
                            <tr>
                                <th>GPS Coordinates</th>
                                <td>
                                    <p>N{{object.geo_h}}</p>
                                    <p>W{{object.geo_v}}</p>
            
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class='card-footer'>
                    <button 
                    type="button" 
                    class="btn btn-primary w-100" 
                    data-bs-toggle="modal" 
                    data-bs-target="#update_modal" 
                >Update Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'Profile/profile_update_modal.html' %}

{% endblock content %}