<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light text-dark" >
    <div class="container"><a class="navbar-brand" href={% url 'home' %}>{{request.site.name }}</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href={% url 'GeoMap:geo_view' %}>Geo Map</a></li>
                
                
                {% include 'login_partial.html' %}
                    

            </ul>
        </div>
    </div>
</nav>

<style>
    @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

</style>